<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOffServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.LogOffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileListServlet</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.FileListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVideos</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.UploadVideos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnVideoList</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.ReturnVideoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoList</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.VideoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StreamVideo</servlet-name>
        <servlet-class>com.nitish.project.springfirst.Servlets.StreamVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOffServlet</servlet-name>
        <url-pattern>/LogOffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileListServlet</servlet-name>
        <url-pattern>/FileListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVideos</servlet-name>
        <url-pattern>/UploadVideos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnVideoList</servlet-name>
        <url-pattern>/ReturnVideoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoList</servlet-name>
        <url-pattern>/VideoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StreamVideo</servlet-name>
        <url-pattern>/StreamVideo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
